html {
  font-size: 112.5%;
  line-height: 1.55556em;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: 0 1.88679%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-size: 1.55556em;
  line-height: 2em;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

img, video, object, embed {
  max-width: 100%;
  height: auto !important;
}

img {
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 250ms linear;
}

iframe, embed {
  display: block;
  margin: 0 auto;
}

.header {
  margin-bottom: 4.66667em;
}

#logo {
  text-align: center;
}

.nav ul {
  padding: 0;
  margin: 1.55556em 0;
}
.nav ul li {
  display: inline-block;
  margin-right: 1.88679%;
}
.nav ul li:last-child {
  margin-right: none;
}

ul.nav {
  list-style: none;
  padding: 0;
}
ul.nav li {
  display: inline-block;
}

.icon {
  width: 6.60377%;
}

.post {
  margin: 3.11111em auto;
}
.post h2 {
  text-align: center;
}

.caption {
  width: 66.03774%;
  float: left;
  margin-right: 1.88679%;
  margin: 0 auto 3.11111em;
}

ul.meta {
  list-style: none;
  text-align: center;
}
ul.meta li {
  display: inline-block;
}

.footer {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 3.11111em 0;
}

#shape-twitter:hover {
  fill: #2ba9e1;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.11111em;
    line-height: 1.4em;
    line-height: 1.55556em;
  }

  .caption, .entry-text, h2, .audio-player {
    margin-left: 16.98113%;
    margin-right: 16.98113%;
  }

  .audio-player {
    text-align: center;
  }
}
