html {
  font-size: 112.5%;
  line-height: 1.55556em;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0 20px;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-size: 1.55556em;
  line-height: 2em;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

img, video, object, embed {
  max-width: 100%;
  height: auto !important;
}

ul.nav {
  list-style: none;
  padding: 0;
}
ul.nav li {
  display: inline-block;
}

.pagination {
  padding: 1.55556em 0;
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.m-scene .scene_element {
  -moz-animation-duration: 0.25s;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.m-scene .scene_element--slideoutup {
  -moz-animation-name: slideOutUp;
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.m-scene .scene_element--slideindown {
  -moz-animation-name: slideInDown;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.m-scene.is-exiting .scene_element {
  -moz-animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse;
}
