html {
  font-size: 112.5%;
  line-height: 1.55556em;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0 1.6129%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-size: 1.55556em;
  line-height: 2em;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

img, video, object, embed {
  max-width: 100%;
  height: auto !important;
  display: block;
}

img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.nav ul {
  padding: 0;
  margin: 1.55556em 0;
}
.nav ul li {
  display: inline-block;
  margin-right: 1.6129%;
}
.nav ul li:last-child {
  margin-right: none;
}

ul.nav {
  list-style: none;
  padding: 0;
}
ul.nav li {
  display: inline-block;
}

.pagination {
  padding: 1.55556em 0 3.11111em;
}
