@import compass/css3
@import compass/typography
@import susy

//1322 Grid System
$total-columns  : 12
$column-width   : 85px
$gutter-width   : 20px
$susy: (columns: $total-columns,gutters: $gutter-width / $column-width, column-width: $column-width, global-box-sizing: border-box )