//================================
// Base
//================================

@import 'bower_components/susy/sass/susy'
@import 'base/bourbon/bourbon'
@import 'base/variables'

//================================
// Modules
//================================

@import 'modules/mixins'

*
  box-sizing: border-box

body
  +rootsize
  +container
  +font-smoothing
  font-family: sans-serif

h1,h2,h3,h4
  font-size: 18px

figure
  margin: 0

a
  text-decoration: none

img, video, object, embed
  max-width: 100%
  height: auto !important

img
  display: block
  margin: 0 auto spacing(1)

iframe, embed
  display: block
  margin: 0 auto
  max-width: 100%

hr
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

input
  background-color: transparent
  border-width: 2px
  outline: none
  border-style: solid

//================================
// Structure
//================================

.header
  +align-items(center)
  background-size: cover
  +display(flex)
  +flex-direction(column)
  +justify-content(center)
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  overflow: hidden
  padding: spacing(1) gutter()
  width: 100%

.avatar
  -webkit-clip-path: circle(50% at 50% 50%)
  clip-path: circle(50% at 50% 50%)
  margin: 0

.description
  margin: spacing(1)

.content
  +container
  padding: 0 gutter()

ul
  padding: 0
  list-style: none

.nav ul
  margin-top: spacing(1)
  margin-bottom: spacing(1)
  li
    display: inline-block
    margin-right: gutter()
    &:last-child
      margin-right: none

//Lazyload

.lazyload, .lazyloading
  opacity: 0
.lazyloaded
  opacity: 1
  +transition(opacity map-get($animations, speed) linear)



//Search

#search-button:before
  content: "&#xf002"

.pagination
  +display(flex)
  +justify-content(center)
  .page-number
    margin: 0 gutter()

.footer
  +full
  padding: spacing(2) 0

//================================
// Posts
//================================

.post
  margin: spacing(1) auto spacing(3)
  overflow: hidden
  h2
    text-align: center

  ul.meta
    +transition(opacity 1s ease-out)
    +display(flex)
    +justify-content(center)
    +align-items(center)
    opacity: 0.25
    list-style: none
    text-align: center
    margin-top: spacing(1)
    &:hover
      opacity: 1
    li
      display: inline-block
      margin-right: gutter()
      &:last-child
        margin: 0


  &.photo
    .source
      text-indent: -9999px

.caption, .entry-text
  text-align: center


.read_more_container
  margin: spacing(1) 0
  text-align: center
  a::after
    content: " →"

//================================
// Custom
//================================
.align_right
  .caption, .entry-text
    text-align: right

.align_center
  .caption, .entry-text
    text-align: center

.align_left
  .caption, .entry-text
    text-align: left

//================================
// 404 (Conflicts with about pages)
//================================
//
// #post-
//   .entry-text
//     text-align: center

//================================
 // Animation
 //================================

.lazy-hidden
  opacity: 0

.lazy-loaded
  +transition(opacity 1s ease-out)
  opacity: 1

+keyframes(fadeIn)
  0%
    opacity: 0
  100%
    opacity: 1

// +breakpoint(tablet)
//   @import breakpoints/768

// @media only screen and (min-width: 1030px)
// @media only screen and (min-width: 1240px)
