@import base

$total-columns  : 12
$column-width   : 70px
$gutter-width   : 20px
$susy: (columns: $total-columns,gutters: $gutter-width / $column-width, column-width: $column-width, global-box-sizing: border-box )

$base-font-size:18px
$base-line-height:28px
$rhythm-unit: em
+establish-baseline

$color-grey: grey

*
  +box-sizing(border-box)

body
  -webkit-font-smoothing: antialiased
  padding: 0 gutter()
  +container

h1,h2,h3,h4
  font-size: inherit
  +adjust-font-size-to(28px)

figure
  margin: 0

a
  text-decoration: none

img, video, object, embed
  max-width: 100%
  height: auto !important

img
  display: block
  margin: 0 auto

iframe, embed
  display: block
  margin: 0 auto
  max-width: 100%

hr
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

input
  background-color: transparent
  border-width: 2px
  outline: none
  border-style: solid

//================================
// Structure
//================================

.header
  margin: rhythm(1) 0
  overflow: hidden
  text-align: center

.nav ul
  padding: 0
  margin: rhythm(1) 0
  li
    display: inline-block
    margin-right: gutter()
    &:last-child
      margin-right: none
ul.nav
  list-style: none
  padding: 0
  li
    display: inline-block
//Search

#search-button:before
  content: "&#xf002"

.pagination
  +display-flex
  +justify-content(space-between)


.footer
  +full
  padding: rhythm(2) 0

//================================
// Posts
//================================

.post
  margin: rhythm(2) auto
  h2
    text-align: center
.caption
  +span(8)
  margin: 0 auto rhythm(2)

ul.meta
  list-style: none
  text-align: center
  li
    display: inline-block

.read_more_container
  margin: rhythm(1) 0
  text-align: center
  a::after
    content: " →"

//================================
// Custom
//================================
.align_right
  .caption, .entry-text
    text-align: right

.align_center
  .caption, .entry-text
    text-align: center

.align_left
  .caption, .entry-text
    text-align: left

//================================
// 404 (Conflicts with about pages)
//================================
//
// #post-
//   .entry-text
//     text-align: center

//================================
 // Animation
 //================================

.lazyload
  opacity: 0

.lazyloaded
  opacity: 1
  transition: opacity 300ms linear

+keyframes(fadeIn)
  0%
    opacity: 0
  100%
    opacity: 1

@media only screen and (min-width: 768px)
  @import 768
@media only screen and (min-width: 1030px)
@media only screen and (min-width: 1240px)