$breakpoints: (
  mobile    : 481px,
  tablet    : 768px,
  desktop   : 1030px,
  large     : 1240px
);
$rootsizes: (
  mobile  :   16px,
  tablet  :   18px,
  desktop :   20.25px,
  large   :   22.781px
);
$lineheights: (
  leading-1 :   24px,
  leading-2 :   24px,
  leading-3 :   28px,
  leading-4 :   32px
);
$animations: (
  function  : ease,
  speed     : 250ms
);

//1322 Grid System
$total-columns  : 12;
$column-width   : 70px;
$gutter-width   : 20px;

$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
  global-box-sizing: border-box
);